/* Reset style */

* {
    padding: 0;
    margin: 0;
}


/* Set body width to 90% and centralize, change body font */

body {
    width: 90%;
    margin: auto;
    font-family: sans-serif;
}


/* Upper join div */

.header {
    border: 1px solid gray;
    text-align: right;
    padding: .5em;
}

h3 {
    display: inline-block;
}


/* adjust the size of the finish flag */

img {
    height: 1em;
    width: 1em;
}


/* Current row and the JOIN button */

.current {
    background: orange;
    color: white;
}

.completed {
    background: green;
    color: white;
}

.extra_info {
    text-transform: capitalize;
    line-height: 1.5em;
    color: #DDD;
}