<html>

<head>
    <title>LabTutor</title>

    <!-- Bootstrap and custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--    FontAwesome CSS -->
    <link type="text/css" rel="stylesheet" href="css/fa/css/font-awesome.css">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js">
    </script>

</head>

<body ng-app="labTutorApp" ng-controller="RoomController">

    <!--     HEADER                -->
    <h1>Kamer #12345</h1>

    <!--        Join div           -->
    <div class="header">
        <form class="form-inline">
            <div class="form-group">
                <label for="name">Jouw naam</label>
                <input type="name" class="form-control" id="name" placeholder="Naam" ng-model="room.currentUser.name" />
            </div>
            <button type="submit" class="btn-lg btn-warning">Join</button>
        </form>
    </div>

    <table class="table">
        <tr>
            <th>Naam student</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th><img id="finish" src="images/finish.png" alt="finish flag"></th>
        </tr>

        <tr ng-class="{ completed: allExercisesCompleted(room.currentUser)}" ng-show="!!room.currentUser.name" class="current">
            <td>{{ room.currentUser.name }} <span class="extra_info">YOU</span></td>
            <td ng-repeat="exercise in room.currentUser.noExercisesCompleted">
                <input type="checkbox" ng-model="exercise.completed">
            </td>
            <td><img ng-show="allExercisesCompleted(room.currentUser)" src="images/check.png" /></td>
        </tr>


        <tr ng-class="{ completed: allExercisesCompleted(otherUser) }" ng-repeat="otherUser in room.otherUsers">
            <td>{{ otherUser.name }}</td>
            <td ng-repeat="exercise in otherUser.noExercisesCompleted">
                <input type="checkbox" ng-model="exercise.completed">
            </td>
            <td>
                <img ng-show="allExercisesCompleted(otherUser)" src="images/check.png">
            </td>
        </tr>


    </table>


    <script src="js/app.js">
    </script>
</body>

</html>