
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="app.js"></script>

    <title>LabTutor</title>
  </head>
  <body ng-app="labTutorApp">
    <div class="container" ng-controller="RoomController">
      <h1>Kamer #12345</h1>
      <div class="row temp_entry">
        <div class="col-md-12">
          <label>Jouw naam </label>
          <input type="text" placeholder="Naam" ng-model="room.currentUser.name" />
          <button type="submit" class="btn btn-primary">Join</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <td>Naam student</td>
              <td>Bij oefening</td>
              <td><img src="finished.png"></img>
              <td></td>
            </thead>
            <tbody>
              <tr ng-class="{ completed: allExercisesCompleted(room.currentUser) }" ng-show="!!room.currentUser.name" class="current_student">
                <td>{{ room.currentUser.name }} <span class="extra_info">YOU</span></td>
                <td>{{ room.currentUser.noExercisesCompleted }}</td>
                <td>
                  <img ng-show="allExercisesCompleted(room.currentUser)" src="check.png"></img>
                </td>
                <td>
                  <button ng-click="exerciseCompleted(room.currentUser)" class="btn btn-primary" ng-show="!allExercisesCompleted(room.currentUser)">Complete!</button>
                </td>
              </tr>

              <tr ng-class="{ completed: allExercisesCompleted(otherUser) }" ng-repeat="otherUser in room.otherUsers">
                <td>{{ otherUser.name }}</td>
                <td>{{ otherUser.noExercisesCompleted }}</td>
                <td>
                  <img ng-show="allExercisesCompleted(otherUser)" src="check.png"></img>
                </td>
                <td>
                  <button ng-click="exerciseCompleted(otherUser)" class="btn btn-primary" ng-show="!allExercisesCompleted(otherUser)">Complete!</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
